.cards {
  padding: 1rem;
}

.cards-container .cards-wrapper {
  margin-top: var(--spacing-xbig);
}

.cards > ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 60%;
  grid-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.cards > ul > li {
  background-color: var(--background-color);
  overflow: hidden; /* image zoom related css */
  flex: 1 0 auto;
}

.cards .cards-card-body {
  margin: var(--spacing-small);
}

.cards .cards-card-body a.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}

.cards .cards-card-body p {
  margin: 1rem 0;
}

.cards .cards-card-image {
  line-height: 0;
  overflow: hidden; /* image zoom related css */
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  min-height: 340px;
}

.cards > ul > li a:hover {
  text-decoration: none;
}


@media (width >= 768px) {
  .cards > ul {
    grid-auto-columns: 32%;
  }
}

@media (width >= 1080px) {
  .cards > ul {
    grid-auto-columns: 1fr;
  }
}