
.video-container {
  display: block;
}

.video-container .video-wrapper {
  display: block;
  width: 100%;
}

.video-container .video-wrapper .video {
  text-align: left;
  width: 100%;
  max-width: initial;
  margin: auto;
  padding: 0;
  position: relative;
}

.video[data-embed-loaded='false']:not(.placeholder) {
  /* reserve an approximate space to avoid extensive layout shifts */
  aspect-ratio: 16 / 9;
}

.video > div {
  display: flex;
  justify-content: center;
}

video, video video {
  display: block;
  width: 100dvw;
  max-width: 100%;
  height: 100dvh;
  max-height: 1000px;
  object-fit: cover;
  aspect-ratio: auto;
}

.video .video-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video .video-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.video[data-embed-loaded='true'] .video-placeholder,
.video[data-embed-loaded='false'] .video-placeholder + * {
  visibility: hidden;
  height: 0;
  width: 0;
}

.video .video-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .video-placeholder-play button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: 2px solid;
  padding: 0;
}

.video .video-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 24px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}


.video-container > div:nth-child(1) {
  flex: 1;
}

.video-container > div:nth-child(2) {
  flex: 1;
}

.video-container h1::after,
.video-container h2::after, 
.video-container h3::after,
.video-container h4::after {
  border-bottom: 2px solid #17b677;
}


.video .video-text-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
  padding: 2rem;
  box-sizing: border-box;
}

.video .video-text-wrapper > div > h1 {
  font-size: 44px;
  margin-top: 1rem;
}

.video .video-text-wrapper > div > p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.video .video-text-wrapper a {
  color: inherit;
}

.video .video-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (width > 900px) {
  .video .video-text-wrapper {
    padding: 0 5rem;
    max-width: 500px;
  }
}