.hero {
  position: relative;
  padding: 2rem;
  min-height: 600px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.hero h1,
.hero h2, 
.hero h3 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero > div {
  color: inherit;
}

.hero > div:not(.image-container) {
  max-width: 500px;
}

.hero p {
  margin: 0;
}

.hero h1,
.hero h2,
.hero {
  margin: 1rem 0;
}

.hero p.button-container a {
  color: inherit;
}

@media (min-width: 900px) {
  .hero {
    height: 100dvh;
    max-height: 1000px;
  }
}
