.htmlsnippet-container {
  padding: 0;
  min-height: 500px;
}

.htmlsnippet-container > div {
  max-width: none;
}

.htmlsnippet-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  min-height: 500px;
  height: calc(100vh - 300px);
}

.htmlsnippet.block {
  position: absolute;
  margin: 0 var(--section-gutter-space);
  border: 0;
  inset: 0;
  overflow: hidden;
}