.da-group-title-text {
  position: relative;
  margin: 0px;
  padding: 0px 14px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background: none;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  margin: 0px;
  padding: 10px;
}

.da-group-button {
  position: relative;
  margin: 0px;
  padding: 0 14px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background: none;
  border: none;
  transition: background-color .2s ease-in-out;
}

:host button {
  cursor: pointer;
}

.da-group-button img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  object-fit: cover;
}