.block.product-list-page .search__wrapper {
    display: grid;
    margin-block: var(--spacing-small);
    grid-template-areas:
        "result-info"
        "view-facets"
        "facets"
        "product-sort"
        "product-list"
        "pagination";
}

.block.product-list-page .search__result-info {
    grid-area: result-info;
    align-self: center;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .search__result-info strong {
    font-weight: 600;
}

.block.product-list-page .search__view-facets {
    grid-area: view-facets;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .search__view-facets button {
    justify-content: start;
    width: 100%;
    position: relative;
}

.block.product-list-page .search__view-facets button[data-count]::after {
    align-items: center;
    background-color: var(--color-brand-700);
    border-radius: 50%;
    color: var(--color-neutral-100);
    content: attr(data-count);
    display: flex;
    font-size: 0.8em;
    height: 1.75em;
    justify-content: center;
    line-height: 1;
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75em;
}

.block.product-list-page .search__facets {
    grid-area: facets;
    margin-block-end: var(--spacing-small);
    display: none;
}

.block.product-list-page .search__facets--visible {
    display: block;
}

.block.product-list-page .search__product-sort {
    grid-area: product-sort;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .search__product-list {
    grid-area: product-list;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .search__pagination {
    grid-area: pagination;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .product-discovery-product-actions {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxsmall);
}

.block.product-list-page .product-discovery-product-list__grid {
    gap: 1rem 5px;
}

@media (width >= 768px) {
    .block.product-list-page .product-discovery-product-list__grid {
        gap: 3rem 5px;
    }
}

/* Empty State */
.block.product-list-page.product-list-page--empty .search__wrapper {
    grid-template-areas:
        "product-list";
    grid-template-columns: 1fr;
}

.block.product-list-page.product-list-page--empty .search__result-info,
.block.product-list-page.product-list-page--empty .search__view-facets,
.block.product-list-page.product-list-page--empty .search__facets,
.block.product-list-page.product-list-page--empty .search__product-sort,
.block.product-list-page.product-list-page--empty .search__pagination {
    display: none;
}

.block.product-list-page .dropin-product-item-card__image img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

/* Zoom effect - only apply when .zoom class is present on the image element */
.block.product-list-page .dropin-product-item-card__image.zoom {
    overflow: hidden;
}

/* Zoom effect - only apply when .zoom class is present */
.block.product-list-page .dropin-product-item-card__image.zoom img {
    transition: transform 0.3s ease;
}

.block.product-list-page .dropin-product-item-card__image.zoom:hover img {
    transform: scale(1.1);
}

.block.product-list-page .dropin-product-item-card__image-container {
    padding: 5px;
    width: auto;
    height: auto;
}

.product-list-page-container .dropin-product-item-card__image img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
}


.dropin-product-item-card__badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #E3C7BD;
    color: #76412E;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.block.product-list-page .dropin-product-item-card__title {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
}

.block.product-list-page .dropin-product-item-card__price .dropin-price-range span {
    font-size: 14px;
    letter-spacing: normal;
    color: gray;
}

.block.product-list-page > div:nth-child(n+1):nth-child(-n+4) {
    display: none;
}

.block.product-list-page.search > div:nth-child(n+1):nth-child(-n+4) {
    display: unset;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    /* .block.product-list-page .search__wrapper {
        grid-template-areas:
            "result-info product-sort"
            "facets product-list"
            ". pagination";
        grid-template-columns: 200px 1fr;
    } */

    .block.product-list-page .search__view-facets {
        max-width: 180px;
        width: 100%;
        margin-left: auto;
    }

    .block.product-list-page .search__product-sort {
        display: flex;
        justify-content: flex-end;
    }
}

/* media-promo-banner overwrite */
.block.product-list-page .dropin-product-item-card.promo-card .media-promo-banner video {
    max-height: 400px;
}