.media-promo-banner {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

/* --- Video --- */
.mpb-video-wrapper {
  position: relative;
  width: 100%;
}
.mpb-video-wrapper iframe,
.media-promo-banner video {
    max-width: 100%;
    min-height: 400px;
    max-height: 600px;
    width: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
}

/* --- IMAGE ONLY --- */
.mpb-img-link picture img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 600px;
  object-fit: cover;
}

/* --- IMAGE WITH TEXT --- */
.mpb-overlay-wrapper {
  position: relative;
}

.mpb-img picture img {
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
}

.mpb-overlay-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  pointer-events: none;
}

.mpb-text {
  position: absolute;
  inset: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
  z-index: 2;
}

.mpb-text p {
  margin: 0;
}

.mpb-has-text {
  width: fit-content;
}

.mpb-text h1,
.mpb-text h2,
.mpb-text h3,
.mpb-text h4,
.mpb-text h5 {
  margin: 0 0 12px 0;
  color: #fff;
}

.mpb-text p {
  color: #fff;
}

/* Buttons inside text version */
.mpb-text a.button {
  border: 1px solid #fff !important;
  color: #fff !important;
  background: transparent !important;
  padding: 10px 16px !important;
  text-decoration: none !important;
  display: inline-block;
}
